div {
  border: 2px black solid;
}
.container {
  display: grid;
  /* grid-template-columns: repeat(4, minmax(250px, 500px)); */
  grid-template-columns: 1fr 2fr 1fr;
  /*  */
  grid-template-rows: repeat(4, 1fr);
  /* grid-template-rows: 5vh repeat(2, 75vh) repeat(2, 50vh) 10vh; */
  grid-template-areas:
    "menu menu about"
    "main main about"
    "footer footer about";
}
.item-a {
  grid-area: menu;
  background-color: gray;
  display: flex;
}
.item-b {
  grid-area: main;
  background-color: red;
}
.item-c {
  grid-area: about;
  background-color: orange;
}
.item-d {
  grid-area: footer;
  background-color: blue;
}
