@keyframes move {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1.5);
  }
}
.main-box {
  display: grid;
  grid-template-columns: repeat($item-count, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}
@mixin move-animation-setup($duration) {
  animation-name: move;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@for $i from 1 through $item-count {
  // hey i go form 1 to 30 and every round add by one
  .item:nth-child(#{$i}) {
    background-color: lighten(orange, random(40));
    height: random(40) + vh;
    border-radius: 20% 0;
    //    @if ($i % 2 0= 0)  even
    // @if ($i % 2 != 0) {
    @if ($i % 2 != 0) {
      background-color: rgba(
        random(200) + 10,
        random(100) + random(150),
        random(200) + $i,
        random(1)
      );
      align-self: end;
    }
    @include move-animation-setup(random($i) + s);
  }
  // i + 1
}

// .item {
//   border: 2px red dashed;
// }
