@keyframes move {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1.5);
  }
}
.main-box {
  display: grid;
  grid-template-columns: repeat($item-count, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}
@mixin move-animation-setup($duration) {
  animation-name: move;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@for $i from 1 through $item-count {
  .item:nth-child(#{$i}) {
    background-color: lighten(orange, random(40));
    height: random(40) + vh;
    @include move-animation-setup(random($i) + s);
  }
  // i + 1
}
