/* 
things you might want to pay more attention to:
  z-index: 99; Not good idea!!
  Alway have index.html on the root directory
  More DRY css files
  If you are using Mac you need .gitignore for .DB_Store
  SORT files and directories
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
}

/* CSS selectors */

/* Element selector */
html {
  background-color: orange;
  font-size: 4rem;
}

/* #ID selector */
#cool {
  color: blue;
}

/* .class selector */
.box {
  width: 3rem;
  height: 3rem;
  background-color: gray;
}
/* element,element Selector
    element AND element 
    */
p,
span {
  background-color: yellow;
}
/* element element Selector
    aka element inside element 
    */
p i {
  font-size: 3rem;
}
header li {
  background-color: black;
  color: wheat;
}
/* element>element	 Selector  
    element parent element 
    */
div > p {
  background-color: aqua;
}
/* element+element  Selector
    element immediately after element */
div + p {
  color: brown;
}
/* element1~element2 Selector 
    element preceded element */
p ~ span {
  font-size: 10rem;
  background-color: darkcyan;
}
/* [attribute] Selector */
[id] {
  background-color: brown;
}
/* [attribute=value] Selector  */
[type="submit"] {
  border: none;
  background-color: black;
  color: aliceblue;
}

/* [attribute~=value] Selector
    containing the value */
[alt~="tree"] {
  width: 12rem;
}

/* [attribute^=value] Selector
    begins with the value */
[title^="Here"] {
  border: 2px red dashed;
}
/* [attribute$=value] Selector
    value ends with  */
[title$="data"] {
  background-color: black;
}
/* [attribute*=value] Selector
    contains the substring */
/* [class*="long"] {
  border: 2px black dashed;
} */

[title*="long"] {
  border: 5px black solid;
}
/* pseudo class  */
/* specifies a special state for that element */
/* :hover */
table:hover {
  background-color: grey;
}
/* :visited */
a,
a:visited,
a:link {
  color: green;
}

/* :focus */
input[type="text"]:focus {
  outline: none;
  border: 2px pink solid;
}

/* :active */
a:active {
  background-color: red;
}

/* :checked */

[type="checkbox"]:checked {
  width: 3rem;
}
/* :nth-child() */
/* tr:nth-child(1) {
  background-color: black;
} */
tr:nth-child(3n + 2) {
  background-color: black;
}
