* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
:root {
  --my-color-first-letter-anchor: rgb(9, 103, 134);
  --my-color-heading-ahover: orange;
  --my-color-first-line: rgb(225, 0, 255);
  --my-font-size: 2rem;
  --box-width: 5rem;
  --box-height: 5rem;
  --font-family: "Source Serif 4", sans-serif;
  --move2: 2rem;
  --move5: 5rem;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
}
.container {
  display: flex;
  flex-direction: column;
  width: calc(var(--box-width) * 7);
  border: 2px black solid;
  position: absolute;
  top: 7rem;
  left: 40rem;
  padding: var(--move2) calc(var(--move2) * 2) var(--move2)
    calc(var(--move2) * 2);
  transition: 0.3s;
}
.container:hover {
  box-shadow: 2px 3px 3px 1px;
  transition: 0.3s;
}
h1 {
  color: var(--my-color-heading-ahover);
  font-size: calc(var(--my-font-size) * 1.4);
}
p::first-letter {
  color: var(--my-color-first-letter-anchor);
  font-size: var(--my-font-size);
}
p::first-line {
  color: var(--my-color-first-line);
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--my-color-first-letter-anchor);
}
a:hover {
  color: var(--my-color-heading-ahover);
}
