/* Anchor links */
a,
a:visited,
a:link {
  color: white;
  text-decoration: none;
  font-size: larger;
  transition: 0.5s;
}
a:hover {
  color: black;
  transform: scale(2);
}
.main-intro a {
  font-size: 1rem;
  color: black;
}
