@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&family=Sedgwick+Ave&display=swap");
@import url("./logo.css");
@import url("./anchors.css");
@import url("./menu.css");
@import url("./main-section.css");
@import url("./footer.css");
/* hey this  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
body {
  width: 100vw;
  display: grid;
  /* if you needed aside menu */
  /* grid-template-columns: 10vw 1fr;
  grid-template-rows: 5vh repeat(3, 60vh) 10vh;
  grid-template-areas:
    "menu menu"
    "side intro"
    "side products"
    "side clients"
    "side footer"; */
  grid-template-rows: 5vh repeat(3, 60vh) 10vh;
  grid-template-areas:
    "menu"
    "intro"
    "products"
    "clients"
    "footer";
}
/* .side {
  grid-area: side;
  background: red;
} */
/* nobile */
@media only screen and (max-width: 450px) {
  body {
    font-size: 1.2rem;
    grid-template-rows: 5vh repeat(3, 80vh) 10vh;
  }
}
/*  */
