/* about */
.about {
  justify-content: space-around;
  flex-direction: column;
  flex-flow: wrap;
  background-color: var(--company-them-bg-color);
}
.about .bg {
  margin: 2rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 40px 10px;
  background-color: white;
  border-radius: 2%;
}
.card {
  width: 90%;
  height: 100%;
  border-radius: 2%;
  text-align: center;
  line-height: 2rem;
  background-color: bisque;
}
/* .eat {
  background-color: bisque;
}
.sleep {
  background-color: aliceblue;
}
.dream {
  background-color: honeydew;
}
.repeat {
  background-color: mistyrose;
} */
