/* avatar */
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50% 20%;
  background-color: lightsalmon;
}
.avatar h5 {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: left;
}
