@import url(./main-intro.css);
@import url(./shape.css);
@import url(./products.css);
@import url(./story.css);
@import url(./about.css);
@import url(./avatar.css);
@import url(./soon.css);
/*  Main   */
.main-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-container article {
  height: 75vh;
  display: flex;
}
