// Resting
@mixin rest-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
// Center things
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Sizes for box
@mixin box-size {
  width: 3rem;
  height: 3rem;
}
// Hide element
@mixin hide {
  opacity: 0;
  visibility: hidden;
}
// Revel
@mixin revel {
  opacity: 1;
  visibility: visible;
}
// cool mixin
@mixin box-size-with-random-val($width, $height) {
  width: $width;
  height: $height;
}
div {
  background-color: gray;
}
.box1 {
  @include box-size();
}
