// Resting
@mixin rest-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
// Center things
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-IDK($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
// Sizes for box
@mixin box-size {
  width: 3rem;
  height: 3rem;
}

div {
  background-color: gray;
}
.box1 {
  @include box-size();
}
// cool mixin
// Declaring my mixins
@mixin box-size-with-random-val($width, $height) {
  // scope
  width: $width;
  height: $height;
}

// Hide element
@mixin hide {
  opacity: 0;
  visibility: hidden;
}
// Revel
@mixin revel {
  opacity: 1;
  visibility: visible;
}
@mixin fade-in($time) {
  animation-name: fade-in;
  animation-duration: $time;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
// Animations with mixins
.box {
  background-color: purple;
  @include fade-in(3s);
}

@keyframes fade-in {
  0% {
    @include hide();
    @include box-size() // transform: rotate(0deg);
;
  }
  100% {
    @include revel();
    @include box-size-with-random-val(3rem, 5rem) // transform: rotate(90deg);
;
  }
}
.box2 {
  background-color: pink;
  @include box-size-with-random-val(51rem, 5rem);
  @include fade-in(5s);
}
$box2-width: 3rem;
.box3 {
  background-color: black;
  // calling my mixins
  @include box-size-with-random-val($box2-width, 2rem);
  @include fade-in(10s);
  height: 5rem;
}
