// Resting
@mixin rest-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
// Center things
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-IDK($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
// Sizes for box
@mixin box-size {
  width: 3rem;
  height: 3rem;
}

div {
  background-color: gray;
}
.box1 {
  @include box-size();
}
// cool mixin
// Declaring my mixins
@mixin box-size-with-random-val($width, $height) {
  // scope
  width: $width;
  height: $height;
}

// Hide element
@mixin hide {
  opacity: 0;
  visibility: hidden;
}
// Revel
@mixin revel {
  opacity: 1;
  visibility: visible;
}
@mixin fade-in($time) {
  animation-name: fade-in;
  animation-duration: $time;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@mixin show-border($size, $type, $color) {
  border: $size $type $color;
}
@mixin delete-border {
  border: none;
}
@mixin gradient {
  background: linear-gradient(red orange yellow green blue indigo violet);
}

@mixin bg {
  background: aquamarine;
}
@mixin colorshift {
  animation-name: color-shift;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

// Animations with mixins
.box {
  background-color: purple;
  @include fade-in(3s);
}

@keyframes fade-in {
  0% {
    @include hide();
    @include box-size() // transform: rotate(0deg);
;
  }
  100% {
    @include revel();
    @include box-size-with-random-val(3rem, 5rem) // transform: rotate(90deg);
;
  }
}
.box2 {
  background-color: pink;
  @include box-size-with-random-val(51rem, 5rem);
  @include fade-in(5s);
}
$box2-width: 3rem;
.box3 {
  background-color: black;
  // calling my mixins
  @include box-size-with-random-val($box2-width, 2rem);
  @include fade-in(10s);
  height: 5rem;
}
/* @keyframes border {
  0% {
    @include show-border();
  }
  100% {
    @include delete-border();
  }
} */
.box4 {
  background: aquamarine;
  @include box-size-with-random-val(5rem, 9rem);
  @include colorshift();
}
@keyframes color-shift {
  0% {
    background: linear-gradient(aqua, aquamarine);
    @include show-border(20px, solid, white);
  }
  10% {
    background: linear-gradient(aquamarine, red);
    @include delete-border();
  }
  20% {
    background: linear-gradient(red, orange);
    @include show-border(30px, double, white);
  }
  30% {
    background: linear-gradient(orange, yellow);
    @include delete-border();
  }
  40% {
    background: linear-gradient(yellow, green);
    @include show-border(20px, dotted, white);
  }
  50% {
    background: linear-gradient(green, blue);
    @include delete-border();
  }
  60% {
    background: linear-gradient(blue, indigo);
    @include show-border(30px, double, white);
  }
  70% {
    background: linear-gradient(indigo, violet);
    @include delete-border();
  }
  80% {
    background: violet, aquamarine;
    @include show-border(20px, solid, white);
  }
  90% {
    background: linear-gradient(aquamarine, aqua);
    @include delete-border();
  }
  100% {
    background: linear-gradient(aqua, aquamarine);
    @include show-border(30px, dotted, white);
  }
}
