// hard coded
@mixin header-font-styles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
//
@mixin box-sizing($width, $height, $bg) {
  height: $height;
  background-color: $bg;
  border-radius: 50%;
  width: $width;
}
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: row;
}
