// hard coded
@mixin header-font-styles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
// mixins with arguments
@mixin box-sizing($width, $height, $bg) {
  height: $height;
  background-color: $bg;
  border-radius: 50%;
  width: $width;
}
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: row;
}
// menu setups
@mixin menu-setup {
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
// Drawing triangle
@mixin triangle($direction: up, $color: #000) {
  width: 0;
  height: 0;
  @if ($direction == up) {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid $color;
  } @else if ($direction == right) {
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid $color;
  } @else if ($direction == left) {
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100px solid $color;
  } @else if ($direction == down) {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid $color;
  } @else {
    @error "Unknown direction #{$direction} ";
  }
}
