body {
  background-color: whitesmoke;
}
h1,
h2,
h3,
#top,
.dark,
nav ul li a {
  color: blue;
}
h1 {
  background-color: gray;
}
section div {
  width: 3rem;
  height: 3rem;
  border: 2px black solid;
  border-radius: 50%;
}
#red {
  background-color: red;
}
#orange {
  background-color: orange;
}
#green {
  background-color: green;
}
