

body {
    background-color: #ffa500;
}

header {
    background-color: #a9a9a9;
    width: 100%;
    height: 7rem;
    nav{
        display: inline;
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50vw;
            padding: 2rem;
            img{
                width: 4rem;
                height: 4rem;
                
            }
            li{
                list-style: none;
                width: 10vw;
                background-color: #ff7f50;
                border-radius: 26px;
                box-shadow: 5px 5px 10px;
                text-align: center;
                padding: 1.5rem;
                a{
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 1.5rem;
                    &:hover{

                    }
                    &:active{

                    }
                }
            }
        }
    }
}