/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("./color.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Akaya Telivigala", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  width: 100vw;
  height: 100vh;
  transition: 0.2s;
}
/* form */
form {
  margin: 25% auto;
  width: 50%;
}
fieldset {
  border-radius: 2%;
}
fieldset input,
select {
  margin: 2vh auto;
  display: block;
  width: 40%;
  background-color: transparent;
  border: none;
  border-bottom: 2px gray solid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
fieldset input:focus,
select:focus {
  outline: none;
  border-bottom: 2px orange solid;
}

/* fancy checkbox */
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hide the ugly html checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The switch */
.switch {
  position: relative;
  width: 4rem;
  height: 2rem;
  /* border: 2px red dashed; */
  margin-left: 1rem;
}
.slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* border: 2px orange dashed; */
  cursor: pointer;
  background-color: #ccc;
  border-radius: 5rem;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  border-radius: 100%;
  left: 0.25rem;
  bottom: 0.35rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
}
.switch input:checked + .slider {
  background-color: orange;
}
.switch input:checked + .slider::before {
  transform: translateX(2.5rem);
}

/* font-awesome */
i {
  font-size: 3rem;
  color: var(--orange-is-my-fav);
  box-shadow: 10px -10px 40px gray;
  border-radius: 50%;
}
