/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("./color.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Akaya Telivigala", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  width: 100vw;
  height: 100vh;
}
/* form */

/* fancy checkbox */

/* Hide the ugly html checkbox */

/* The switch */

/* font-awesome */
i {
  font-size: 3rem;
  color: var(--orange-is-my-fav);
  box-shadow: 10px -10px 40px gray;
  border-radius: 50%;
}
