* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* hey I have something for you */
  --my-color: orange;
  --back-color: ;
  --my-font-size: 3rem;
  --other-color: rgba(222, 33, 5, 0.5);
  --header-font-family: "Lucida Sans" Geneva, Verdana, sans-serif;
}
/* body {
    background-color: red;
  } */
/* pseudo elements VS  pseudo classes */

/* pseudo-class is a keyword added to a selector that specifies a special state of the selected element(s). */
/* more pseudo classes
  :valid
  :hover */

/* pseudo-element is a keyword added to a selector that lets you style a specific part of the selected element(s) */

/* ::before  Vs :before */
/*   
    :before css2 and ::before is css3
  */

/* ::placeholder  */

/* ::first-letter (:first-letter) */

/* display:none vs opacity: 0 */

/* vh & vw */

/* visual content like img */
/*  % , border-radius */
