/* Menu */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  z-index: 1;
  background-color: var(--company-them-bg-color);
}
header nav {
  flex-grow: 2;
}
header nav ul {
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  display: inline;
  list-style: none;
}
