:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightslategray;
  background-image: url(../img/cloudySky.jpg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: 30rem;
}
/* h1,h2,h3,#top,.dark, nav ul li a {
    color: darkslategray;
} */
/* Menu */
header nav {
  background-color: rgba(0, 0, 0, 0.76);
  position: fixed;
}
nav ul li {
  height: 3rem;
  display: inline;
  margin-left: 3rem;
}
/* Home Main */
.something {
  width: 10rem;
  height: 70rem;
  background-color: turquoise;
  margin: 20rem 5rem 5rem 2rem;
  border-width: 10px 22px 30px 10px;
  border-color: red orange blue gray;
}
/* About Main */
h1 {
  /* Option 1 */
  color: red;
  /* Option 2 */
  color: #ccc;
  /* Option 3 */
  color: rgb(255, 0, 0);
  /* Option 4 */
  color: rgba(0, 255, 0, 0.5);
  letter-spacing: 50px;
  word-spacing: 50px;
  background-color: gray;
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  font-weight: bolder;
}
section div {
  width: 3rem;
  height: 3rem;
  border: 2px black solid;
  border-radius: 50%;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#green {
  background-color: green;
}
main img {
  width: 150px;
  height: 150px;
  border-top: 5px black solid;
}
