* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* some var */
  --the-best-color: orange;
}
.box {
  width: 3rem;
  height: 2rem;
  background-color: var(--the-best-color);
  /* step num 1 ani name */
  animation-name: move;
  /* step num 2 ani for how long*/
  animation-duration: 2s;
  /* opt */
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
/* step 3 your keyframes */
@keyframes move {
  0% {
    width: 4rem;
  }
  50% {
    width: 10rem;
    background-color: aqua;
  }
  100% {
    width: 50rem;
    background-color: black;
  }
}
/* other way for keyframes */
/* 
from {
   
  }
  to {
    
  }
*/
.shape {
  width: 3rem;
  height: 2rem;
  background-color: pink;
  animation-name: change;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  display: block;
  position: absolute;
}
/* here */
@keyframes change {
  0% {
    opacity: 0;
    top: 0;
    left: 0;
  }
  50% {
    opacity: 0.5;
    top: 50%;
    /* left: 50%; */
  }
  100% {
    opacity: 1;
    top: 80%;
    /* left: 80%; */
  }
}
.dci {
  font-size: 3rem;
  animation-name: letter-moving;
  animation-duration: 3s;
}
.dci :nth-child(1) {
  color: lightblue;
  animation-name: letter-D;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.dci :nth-child(2) {
  color: blue;
  animation-name: letter-C;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.dci :nth-child(3) {
  color: cornflowerblue;
  animation-name: letter-I;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes letter-D {
  0% {
    font-size: 4rem;
  }
  50% {
    font-size: 5rem;
  }
  100% {
    font-size: 6rem;
  }
}
@keyframes letter-C {
  0% {
    font-size: 5rem;
  }
  50% {
    font-size: 3rem;
  }
  100% {
    font-size: 1rem;
  }
}
@keyframes letter-I {
  0% {
    font-size: 4rem;
  }
  50% {
    font-size: 7rem;
  }
  100% {
    font-size: 8rem;
  }
}
