* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 16px;
}

html {
    background-color: orange;
}

#cool {
    color: blue;
}

.box {
    width: 3rem;
    height: 3rem;
    background-color: gray;
}

p, span {
    background-color: yellow;
}

p i {
    font-size: 3rem;
}

header li {
    background-color: black;
    color: wheat;
}

div > p {
    background-color: aqua;
}

div + p{
    color: brown;
}

p ~ span {
    font-size: 10rem;
    background-color: darkcyan;
}

[id] {
    background-color: brown;
}

[type="submit"] {
    border: none;
    background-color: black;
    color: aliceblue;
}
[alt^="Ross"] {
    width: 12rem;
}
[title⁼="Here"] {
    border: 2px red dashed;
}

[title$="data"] {
    background-color: darkred;
}

[title*="long"] {
    border: 2px black solid;
}
table:hover {
    background-color: cyan;
    opacity: 70;
}

a, a:visited, a:link {
    color: green;
    text-decoration: none;
    background-color: gray;
    border-radius: 5%;
    border: 2px black solid;
    padding: 5px 10px;
    margin-top: 0.5rem;
    position: absolute;
}

input[type=""text]:focus {
    outline: none;
    border: 2px green solid;
}
[type="checkbox"]:checked {
    width: 3rem;
}

a:active {
    background-color: red;
}

tr:nth-child(1) {
    background-color: darkslategray;
    color: floralwhite;
}

tr:nth-child(2n+2) {
    background-color: gray;
}

tr:nth-child(2n+3) {
    background-color: lightgray;
}
