* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 16px;
}

html {
    background-color: orange;
}

#cool {
    color: blue;
}

.box {
    width: 3rem;
    height: 3rem;
    background-color: gray;
}

p, span {
    background-color: yellow;
}

p i {
    font-size: 3rem;
}

header li {
    background-color: black;
    color: wheat;
}

div > p {
    background-color: aqua;
}

div + p{
    color: brown;
}

p ~ span {
    font-size: 10rem;
    background-color: darkcyan;
}

[id] {
    background-color: brown;
}

[type="submit"] {
    border: none;
    
}