/* Styling the Menu */
.x-menu-01:hover:before {
    transform: translateY(12px) rotate(135deg);
}
.x-menu:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}
.x-menu:hover div {
    transform: scale(0);
}