/* Styling the Menu */
.gradient {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.gradient div {
    width: 2.5rem;
    height: 0.5rem;
    background-color: black;
    border-radius: 26px;
    border: 1px black solid;
}
.gradient:hover > :nth-child(1){
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: radial-gradient(circle at center, red 0, blue, green 100%);
}
.gradient:hover > :nth-child(2){
    display: none;
}
.gradient:hover > :nth-child(3){
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: radial-gradient(circle at center, red 0, blue, green 100%);
}