.o-x:hover:before {
    transform: translateY(12px) rotate(135deg);
}
.o-x:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}
.o-x:hover div {
    transform: scale(0);
}
.o-x:hover {
    border: 3px solid black;
    border-radius: 50%;
}