/* Styling the Menu */
.eight:hover > :nth-child(1), .eight:hover > :nth-child(3){
    width: 50%;
    height: 50%;
    border: 3px black solid;
    border-radius: 50%;
    background-color: transparent;
}
.eight:hover > :nth-child(2){
    /* width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: transparent; */
    display: none;
}
