.o-x {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50px;
}
  
.o-x:before,
.o-x:after,
.o-x div {
    background: #000;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}
.o-x:hover:before {
    transform: translateY(12px) rotate(135deg);
}
.o-x:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}
.o-x:hover div {
    transform: scale(0);
}
.o-x:hover {
    border: 2px solid black;
    border-radius: 50%;
}